@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto:500');
.contactBlock{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items:center;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 8px;
  &:hover{
    box-shadow: 0 2px 10px rgba(0,0,0,0.09);
    border-radius: 3px;
  }
  .contactBlock__icon{
    margin: 17px 15px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items:center;

  }
  .contactBlock__text{
    flex: auto;
    display:flex;
    span{
      font-size: 20px;
    }
  }
  .contactBlock__btn{
    margin: 15px;
    background-color: #1367d7;
    color: white;
    border-radius: 3px;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    img{
      margin-left: 3px;
    }

  }
}
